* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #663a82;
  color: white;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  width: 100vw;
  padding: 2%;
}

.page {
  width: 100%;
  height: 100%;
  border: 3px solid white;
}

.left {
  height: 100%;
  width: 50%;
  float: left;
  position: relative;
}

.right {
  height: 100%;
  width: 50%;
  float: left;
  position: relative;
}

.text-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.5;
}

.text-left h1 {
  font-size: 2.2rem;
  font-weight: normal;
  margin-left: 20px;
}

.signup-txt {
  background: white;
  color: #663a82;
  padding: 20px;
}

.signup-txt h1 {
  line-height: .9;
  font-weight: bold;
  margin-left: 0;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  height: 80%;
  width: 63%;
  padding: 60px 40px 30px;
}

.signup-form {
  position: relative;
  width: 100%;
  height: 100%;
}

.signup-form label {
  display: block;
  color: black;
  font-weight: bold;
  margin-bottom: 5px;
}

.signup-form input {
  width: 100%;
  border: 1px solid #30D5C8;
  border-radius: 2px;
  height: 35px;
  margin-bottom: 20px;
  padding: 10px;
  color: grey;
}

.form-title {
  background-color: #30D5C8;
  display: inline-block;
  font-style: italic;
  padding: 10px 20px;
  position: absolute;
  top: -70px;
}

.form-title h3 {
  color: white;
  font-size: .9rem;
  letter-spacing: 1px;
}

.signup-form button {
  display: block;
  width: 100%;
  background-color: #30D5C8;
  border: 1px solid #30D5C8;
  color: white;
  font-weight: bold;
  border-radius: 2px;
  height: 35px;
  font-size: 1rem;
  cursor: pointer;
}

.signup-form button:hover {
  color: #30D5C8;
  background-color: white;
  border: 1px solid white;
}

@media screen and (max-width: 1239px) {
  body {
    height: 200vh;
  }

  .left {
    height: 100vh;
    width: 100%;
    float: none;
  }

  .right {
    height: 100vh;
    width: 100%;
    float: none;
  }
}
